@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.container-post-content {
    background-color: #E7E6F7;
    border-radius: 10px;
    display: grid;
    grid-template-columns: .4fr repeat(2, 1fr);
    grid-template-rows: .3fr 1fr .3fr;
    grid-column-gap: 5px;

    padding: 20px 10px;
    width: 100%;
    margin-bottom: 20px;
}

.left-column { 
    grid-area: 1 / 1 / 4 / 2; 
}
.row-top { 
    grid-area: 1 / 2 / 2 / 4; 
    font-weight: 700;
}

.row-middle {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    grid-area: 2 / 2 / 3 / 4; 
    padding: 10px 20px 10px 0;
}
.row-bottom { 
    grid-area: 3 / 2 / 4 / 4; 
    padding: 0;
    margin: 0;
}

.left-column img {
    max-width: 102.4px;
    max-height: 102.4px;
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
}

.post-media-wrapper {
    border: 1px solid red;
    max-width:min-content;
    max-height: min-content;
}