.container-search-bar {
    /* border: 1px solid red; */
    width: 100%;
    margin-bottom: 20px;
    height: 70px;
    display: flex;
    gap: 10px;
}

.container-search-bar input {
    /* width: 100%; */
    height: 100%;
    /* padding: 20px 10px; */
    padding: 0px 20px;
    border-radius: 10px;
    border: 0.5px solid grey;
    flex-grow: 1
}

.container-search-bar button {
    border-radius: 10px;
    border: 0.5px solid grey;
    height: 100%;
    /* width: 100%; */

}