#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container-tsbot {
  width: 100%;
}

.service-response {
  word-wrap: break-word;
  background-color: #F7F3F7;
  border-radius: 10px; 
  padding: 30px 15px;
}